.footer-container{
    background:#5b3a0d;
    color:white;
    margin-top:60px;
    padding:20px;
    text-align:center;
}

.footer-content{
    display:flex;
    justify-content:center;
    align-items:center;
}

.copyright{
    margin-top:10px;
    font-size:14px;
}