
<div class="container">
<div class="topbar">

  <div class="logo-area">

  <span class="logo-icon">🥟</span>

  <div class>
    <h1>Banca de Coxinhas</h1>
    <p>As melhores da região</p>
  </div>

</div>

  <div class="usuario">
    <span>Bem vindo, {{ cliente.nome }}</span>
    <br><span>Saldo Total: R$ {{ cliente.saldo }}</span>
  </div>

</div>

<!-- <button (click)="logout()">
    Logout
  </button>
  <div class="credito">
  <label>Inserir Crédito (R$):</label>
  <input type="number" [(ngModel)]="valorCredito">
  <button (click)="inserirCredito()">Inserir</button>
  </div> -->
 <div class="acoes-topo">

  <a
  routerLink="/movimentacoes"
  class="btn-extrato"
>
  📋 Ver Extrato de Movimentações
</a>

  <div class="credito">

    <input
      type="number"
      [(ngModel)]="valorCredito"
      placeholder="Inserir crédito"
    >

    <button class="botao-padrao" (click)="inserirCredito()">
  Adicionar Saldo
</button>

<button class="botao-padrao" (click)="logout()">
Logout
</button>
  </div>


</div> 

<hr>

<div class="promocao">
  🎁 Insira R$ 20 ou mais e ganhe R$ 2 de desconto na sua coxinha!
</div>

<div class="catalogo-container">
<div *ngFor="let coxinha of coxinhas" class="card">
  <img
    [src]="getImagem(coxinha.sabor)"
    [alt]="coxinha.sabor"
    class="imagem-coxinha"
  >
  <h2>{{ coxinha.sabor }}</h2>
  <p class="preco">
    R$ {{ coxinha.preco }}
  </p>

  <input
    type="number"
    [(ngModel)]="valoresInseridos[coxinha.id]"
    placeholder="Valor inserido"
  >

  <p *ngIf="valoresInseridos[coxinha.id] >= 20" class="desconto-selo">
    🏷️ Desconto de R$2 aplicado!
  </p>

  <button (click)="comprar(coxinha.id)">
    Comprar
  </button>
</div>
</div>
</div>
