<h1>Extrato de Glutonaria</h1>

<a routerLink="/catalogo">
  Voltar ao Catálogo
</a>

<hr>

<div *ngFor="let mov of movimentacoes" class="card">

  <p><strong>ID:</strong> {{ mov.id }}</p>

  <p><strong>Sabor:</strong> {{ mov.tipoSabor }}</p>

  <p><strong>Valor Pago:</strong> R$ {{ mov.valorPago }}</p>

  <p><strong>Troco:</strong> R$ {{ mov.troco }}</p>

  <p><strong>Status:</strong> {{ mov.status }}</p>

  <button
    *ngIf="mov.status === 'Pago'"
    (click)="estornar(mov.id)"
  >
    Estornar
  </button>

</div>